body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container {
    background-color: hsl(244, 38%, 16%);
    width: 90%;
    margin-top: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header-img {
    background-image: url('../images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}

#accent {
    background-color: rgba(111, 32, 160, 0.65);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text-div {
    margin: 2.5em;
}

.heading-text {
    margin: 1em 0em;
}
 
h1 {
    font-weight: 700;
    font-size: 1.73em;
    text-align: center;
}

.purp-text {
    color: hsl(277, 64%, 61%);
}

.paragraph-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9em;
    text-align: center;
    margin: 1em 0em;
}

.stats {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.90em;
}

.stat-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.stats h2{
    font-weight: 700;
    width: 100%;
    margin-top: 0.8em;
    margin-bottom: 0em;
}

.stats p{
    font-family: 'Lexend Daca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0.8em;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    width: 100%;
}

.attribution a {
    color: hsl(277, 64%, 61%); 
}

/*design for 1440px*/
@media (min-width: 1250px){
    .main-container {
        width: 70%;
        height: auto;
        max-height: 50%;
        margin-top: 20%;
        border-radius: 10px;
        display: inline-flex;

    }

    #header-img {
        background-image: url('../images/image-header-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 25em;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        position: relative;
        width: 50%;
    }

    #accent {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .text-div {
        margin: 3.5em;
        margin-bottom: 0em;
        width: 42%;
    }
     
    .heading-text {
        margin: 1em;
    }

    h1 {
        text-align: left;
        font-size: 2em;
    }
    
    .paragraph-text {
        text-align: left;
        font-size: 1.10em;
    }

    .stat-group {
        display: flex;
        width: 25%;
        flex-wrap: wrap;
        margin: 1em;
    }
    
    .stats h2{
        margin-top: 1em;
        text-align: left;
        font-size: 1.5em;
    }
    
    .stats p{
        text-align: left;
    }
}